/* -- Color Variables -- */

$bg-text-border-white: #FFF;
$bg-text-black: #000;
$bg-black-div: #212121;
$people-hover-blue: #4169E1;
$bg-text-gold: #FFD700;
$ancho-hover: #B8860B;
$border-text-mild-gray: #999;
$bg-border-text-dark-gray: #666;
$bg-border-text-light-gray: #CCC;
$bg-border-text-extra-light-gray: #EEE;
$querie-a-border-right-blue: #CCD;
$hover-shadow-black: #333;